.accountInfo {
  margin: 80px 0;
}
.accountInfo .boxItems {
  padding: 50px;
  max-width: 60%;
  margin: auto;
}
.accountInfo .content {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.accountInfo .content .left {
  width: 150px;
  position: relative;
}
.accountInfo .content .right {
  width: calc(100% - 180px);
  margin-left: 50px;
}

.accountInfo .content .left .img input {
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 2;
  opacity: 0;
}
.accountInfo .content .icon,
.accountInfo .content .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 1;
  border-radius: 50%;
  object-fit: cover;
}
.accountInfo .content .right label {
  font-size: 17px;
  color: #000;
  margin-bottom: 10px;
  display: block;
}
.profile h4 {
  text-transform: capitalize;
  color: #000;
  font-weight: 500;
}
@media screen and (max-width: 900px) {
  .accountInfo {
  margin: 80px 0;
}
.accountInfo .boxItems {
  padding: 50px;
  width: 80%;
  margin: auto;
}
  .accountInfo boxItems .content {
  margin-top: 80px;
  display: block;
}
    .accountInfo boxItems .content .left {
  width: 100%;
}
  .accountInfo boxItems .content .right {
  width: 100%;
}
}
@media screen and (max-width: 700px) {
  .accountInfo {
  margin: 80px 0;
}
.accountInfo .boxItems {
  padding: 50px;
  width: 100%;
  margin: auto;
}
 .accountInfo boxItems .content {
  margin-top: 80px;
  display: block;
 
}
  .accountInfo boxItems .content .left {
  width: 100%;
}
  .accountInfo boxItems .content .right {
  width: 100%;
}
}
